<h1>Languages</h1>
<%= link_to "New Language", new_language_path, class: 'btn btn-success' %>
<div class="row">
  <br>
  <div class="col-md-8">
 <!-- #7 -->
    <% @languages.each do |language| %>
      <div class="row">
        <div class="col-md-7">
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">
 <!-- #8 -->
                <%= language.name + " " + language.version %>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="media">
            <div class="media-body">
              <%= link_to "Edit", edit_language_path(language), class: 'edit-link' %>&nbsp; <%= link_to "Delete", [language], method: :delete, class: 'delete-link', data: { confirm: 'Are you sure you want to delete this language?' } %>
            </div>
          </div>  
        </div>
      </div>
      <div class="row">
      <p>&nbsp;</p>
      </div>  
    <% end %>
  </div>

</div>