<br>
<div class="jumbotron">
  <h1>codememo</h1>
  <p>codememo is a useful note for coding study</p>
  <p>
    <% if current_user == nil %>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %>
    <% end %>  
  </p>
</div>
