<br>
<div class="jumbotron">
  <h1>codememo</h1>
  <h3>Never search it again!</h3>
  <p>Create your own snippet library.</p>

  <p>
    <% if current_user == nil %>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %>
    <% end %>  
  </p>
</div>
