<br>
<div class="jumbotron">
  <h1>codememo</h1>
  <h3>Never search it again! Create your own snippet & command library.</h3>
  <br/>

  <p>
    <% if current_user == nil %>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %>
    <% end %>  
  </p>
</div>
